extends layout
block content
  div.container
    div.header
      
      ul.nav.nav-pills.pull-right
      h3.text-muted.text-left 
        a(href="/")
          img(src="../images/22.png")
      .btn.btn-primary.pull-left(type="button", href="/root") رجـــــوع
    div.panel.panel-default.form-signin 
      div.panel-heading.text-right
        h1.panel-title إضافة موظف
      div.panel-body
        div(role="tabpanel")
          ul.nav.nav-tabs(role="tablist")
            li.active(role="presentation")
              a(href="#home", aria-controls="home",role="tab", data-toggle="tab") الطلبات الغير مأكدة
            li(role="presentation")
              a(href="#profile", aria-controls="profile",role="tab", data-toggle="tab") الطلبات المأكدة 
          div.tab-content
            div.tab-pane.active(role="tabpane", id="home") 
              table.table.table-condensed
                tr
                    td إسم السلعة   
                    td الكمية
                    td طلب الموظف
                    td قسم الموظف    
                    td تأكيد الطلب
                   // for a in accep 
                  tr
                    td 
                    td 
                    td 
                    td  
                    td 
                      button#delete.btn.btn-success.btn-xs(href='#del', data-toggle='modal',value="")
                        span.glyphicon.glyphicon-ok
             #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
              .modal-dialog
                .modal-content
                  .modal-headr.modal-header-danger
                    p.h1 هل حقا تريد تأكيد الطلب ؟
                  .modal-body
                    p.h2 تأكيد الطلب
                    p 
                  .modal-footer
                    button#confdelete.btn.btn-success(type='button',data-dismiss='modal') تأكيد
                    button.btn.btn-danger(data-dismiss='modal', type='button') إلغاء 
            div.tab-pane(role="tabpanel", id="profile") this is the Profile



 



  
    script(src="/javascripts/jquery-1.11.1.min.js") 
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/jquery.validate.min.js")
    script(src="/javascripts/acceptOrder.js")
