extends layout
block content
  div.container
    a.btn.btn-primary.pull-left(type="button", href="/employee") رجـــــوع
    div.panel.panel-default.form-signin 
      div.panel-heading.text-right
        h1.panel-title إضافة موظف
      div.panel-body

        form#form.form-signin(role="form" , action="/employee/addEmployeee", method="post")
          row
            div.form.group.col-xs-4
              lable الاسم
              input#name.form-control.text-left(dir="rtl", type="text",name="name", placeholder="الاسم")
            div.form.group.col-xs-5
              lable البريد الاكتروني
              input#email.form-control.text-left(dir="ltr", type="text",name="email", placeholder="البريد الإلكتروني")
            div.form-group.col-xs-3
              lable رقم الهاتف
              input#phoneNumber.form-control(type='text',dir="ltr", name='phoneNumber',placeholder="رقم الهاتف" )
          row
            div.form-group.col-xs-6
              lable الرقم السري
              input#password.form-control.text-left(dir="ltr", type="password",name="password", placeholder="*******")
            div.form-group.col-xs-6
              lable تأكيد الرقم السري
              input#confirmPassword.form-control.text-left(dir="ltr", type="password",name="confirmPassword" placeholder="*******")
          row
            div.form-group.form-group.col-xs-6
              lable. الادارة
              select.form-control#iddepartment(name="iddepartment")
                option(value="-1") الراجاء الاختيار 
                for d in dep
                  option(value="#{d.iddepartments}") #{d.name}
            div.form-group.form-group.col-xs-6
              lable. صﻻحية المستخدم
              select#level.form-control(type="text",name="level", placeholder="رقم اللجنة",autofocus="")
                option(value="-1") الرجاء الاختيار 
                option(value="1") root 
                option(value="2") admine 
                option(value="3") user       
          row 
            div.form-group.text-center.col-md-6.col-md-offset-3
             button.btn.btn-lg.btn-primary(type="submit") إضافة

  script(src="/javascripts/jquery-1.11.1.min.js") 
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/jquery.validate.min.js")
  script(src="/javascripts/addEmployee.js")
 