extends layout
block content
  html
    body
      .row
        .col-xs-3
          .col-md-10
            a.thumbnail(href='')
              img(src='img/img1.png', alt='...')


      form.form-horizontal
        fieldset
          // Form Name
          legend تسجيل موظف
          // Text input
          .form-group
            label.col-md-4.control-label(for='name') إسم الموظف
            .col-md-5
              input#name.form-control.input-md(name='name', placeholder='name', required='', type='text')
          // Text input
          .form-group
            label.col-md-4.control-label(for='email') البريد الالكتروني
            .col-md-5
              input#email.form-control.input-md(name='email', placeholder='Emai', required='', type='text')
          // Text input
          .form-group
            label.col-md-4.control-label(for='mobail') رقم المحمول
            .col-md-5
              input#mobail.form-control.input-md(name='mobail', placeholder='mobail', required='', type='text')
          // Select Basic
          .form-group
            label.col-md-4.control-label(for='department') القسم
            .col-md-5
              select#department.form-control(name='department')
                option(value='1') قسم المخازن
                option(value='2') قسم تقنية المعلومات
          // Button
          .form-group
            label.col-md-4.control-label(for='singlebutton')
            .col-md-4
              button#singlebutton.btn.btn-warning(name='singlebutton') حفظ البيانات

  

  //img.img-responsive(src='img/img1.png', alt='Responsive image' width=)
  //.row
    //.col-xs-3
    //  .col-md-3
    //  a.thumbnail(href='')
      //  img(src='img/img1.png', alt='...')
  




  script(src="/javascripts/jquery-1.11.1.min.js") 
  script(src="/javascripts/bootstrap.min.js")