extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
      h3.text-muted.text-left 
        a(href="/")
          img(src="../images/22.png")
    a.btn.btn-primary.pull-left(type="button", href="") رجـــــوع
    div.panel.panel-default.form-signin 
      div.panel-heading.text-right
        h1.panel-title اضافة صنف
      div.panel-body
       form#form.form-signin(role="form" , action="/item/additem", method="post")
          .row
            .col-xs-6 
              div.form-group.text-right
                lable نوع الصنف
                  select.form-control#iditem_type(name="id_item_info_id",style='width: 500px;')
                    option(value="-1", selected="selected") الصنف
                      for d in item
                        option(value="#{d.item_info_id}",name="id_item_info_id") #{d.Name} 
              
              div.form-group 
                a.btn.btn-success(href='#newitem', role='button',data-toggle='modal') صنف جديد    
          
              div.form-group
                lable المورد
                font(size="4", color="black" , face="cursive" )
                  select.form-control#getiteme(name="iddepartment",style='width: 500px;')   
              div.form-group
                a.btn.btn-success(href='#', role='button') مورد جديد    
          
          div.form-group
            lable الكمية
            input#quantity.form-control.text-left(dir="ltr", type="text",name="quantity", placeholder=" ",required="")
          div.form-groupremainder
            lable المتبقي
            input#remainder.form-control.text-left(dir="ltr", type="text",name="remainder", placeholder=" ",required="")
          div.form-group
            lable الوصف
            textarea#description.form-control(rows='3',dir="ltr", name="description", placeholder=" ",required="")
          div.form-group
            //- lable الرئيسي
            input#dele.form-control.text-left(dir="ltr", type="hidden",name="item_type_iditem_type", placeholder=" ",required="",value="#{item[0].item_type_iditem_type}")
          div.form-group
            lable موجود
            input#deleted.form-control.text-left(dir="ltr", type="text",name="deleted", placeholder=" ",required="",style='width: 200px;') 
          
          //Select for choose manager of constituencies 
          div.form-group 
          div.form-group.text-center
            button.btn.btn-lg.btn-primary(type="submit") إضافة
          #newitem.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
            .modal-dialog
              .modal-content
                .modal-headr.modal-header-success
                  button.btn.pull-left.btn-danger(data-dismiss='modal', type='button') إلغاء
                  button.close(type="button",data-dismiss="modal",aria-hidden="true")
                  h1 أضافة صنف جديد 
                .row
                  .col-sm-12.col-md-11.col.col-md.offset-4
                      .modal-body
                          form#form.form-signin(role="form" , action="#", method="post") 
                            div.form-group
                              lable.h3 اسم الصنف  
                              input#Name.form-control(type="text",name="Name", placeholder="اسم الصنف",autofocus="")                            
                            div.form-group
                              lable.h3 الرقم التسلسلي
                              input#Barcode.form-control(type="text",name="Barcode", placeholder="الرقم التسلسلي",autofocus="")
                            div.form-group.text-center
                              button#Eitem.btn.btn-lg.btn-primary(type="button",aria-hidden="true",data-dismiss="modal") إضـافة      
        

  // Placed at the end of the document so the pages load faster
  script(src='/javascripts/jquery-1.11.1.min.js')    
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/bootstrap-editable.min.js')
  script(src='/javascripts/item.js')
  

