extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
      h3.text-muted.text-left 
        a(href="/")
          img.img-responsive(src="../../images/22.png" ,style='width: 150px;')
    a.btn.btn-primary.pull-left(type="button", href="/item") رجـــــوع
    div.panel.panel-default.form-signin 
      div.panel-heading.text-right
        h1.panel-title اضافة صنف
      div.panel-body
        form#form.form-signin(role="form" , action="/item/additem", method="post")
          row 
            div.form.group.col-xs-6
              select.form-control#iditem_type(name="id_item_info_id")
                option(value="-1", selected="selected") اختر نوع الصنف
                  for d in item
                    option(value="#{d.item_info_id}",name="id_item_info_id") #{d.Name} 
              
            div.form.group.col-xs-6 
              a.btn.btn-success(href='#newitem', role='button',data-toggle='modal',style='width: 200px;') صنف جديد    
                span.glyphicon.glyphicon-plus 
          row 
            div.form-group.col-xs-8
              label 
              select.form-control#getiteme(name="getiteme")
                option(value="-1", selected="selected") اختر المورد   
            div.form-group.col-xs-2
              label
              a.btn.btn-success(href='/supplier/addSupplier', role='button') مورد جديد 
                span.glyphicon.glyphicon-plus    
            div.form-group.col-xs-2
              label
              a#newsupp.btn.btn-success(href='#', role='button' ,value = "1",name = "bb") الموردين 
                span.glyphicon.glyphicon-plus
          row
            div.form-group.form-group.col-xs-12
              lable الكمية
              input#quantity.form-control.text-left(dir="ltr", type="text",name="quantity", placeholder=" ",required="")
            //- div.form-group.form-group.col-xs-6
            //-   //- lable المتبقي
              //- input#remainder.form-control.text-left(dir="ltr", type="text",name="remainder", placeholder=" ",required="")
          row
            div.form-group.form-group.col-xs-12
              lable الوصف
              textarea#description.form-control(rows='3',dir="ltr", name="description", placeholder=" ",required="")
          div.form-group
            //- lable الرئيسي
            input#dele.form-control.text-left(dir="ltr", type="hidden",name="item_type_iditem_type", placeholder=" ",required="",value="#{id}")
          //Select for choose manager of constituencies 
          row 
            div.form-group.text-center.col-md-6.col-md-offset-3
              button.btn.btn-lg.btn-primary(type="submit") إضافة
          #newitem.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
            .modal-dialog
              .modal-content
                .modal-headr.modal-header-success
                  button.btn.pull-left.btn-danger(data-dismiss='modal', type='button') إلغاء
                  button.close(type="button",data-dismiss="modal",aria-hidden="true")
                  h1 أضافة صنف جديد 
                .row
                  .col-sm-12.col-md-11.col.col-md.offset-4
                      .modal-body
                          form#form.form-signin(role="form" , action="#", method="post") 
                            div.form-group
                              lable.h3 اسم الصنف  
                              input#Name.form-control(type="text",name="Name", placeholder="اسم الصنف",autofocus="")                            
                            div.form-group
                              lable.h3 الرقم التسلسلي
                              input#Barcode.form-control(type="text",name="Barcode", placeholder="الرقم التسلسلي",autofocus="")
                            div.form-group.text-center
                              button#Eitem.btn.btn-lg.btn-primary(type="button",aria-hidden="true",data-dismiss="modal") إضـافة         

  // Placed at the end of the document so the pages load faster
  script(src='/javascripts/jquery-1.11.1.min.js')    
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/bootstrap-editable.min.js')
  script(src='/javascripts/item.js')
  

