extends layout
block content
  .row-md-12
    .col-md-8
      .col-md-offset-8
        form
          .form-group
            label(for='exampleInputName') الاسم
            input#exampleInputName.form-control(type='text', placeholder='Enter Name')
          .form-group
            label(for='exampleInputSerielNumber') رقم الصنف
            input#exampleInputSerielNumber.form-control(type='text', placeholder='SerielNumber')
          .form-group
            label(for='exampleInputQuantity') الكمية
            input#exampleInputQuantity.form-control(type='text', placeholder='Quantity')
          .form-group
            label(for='exampleInputDiscription') مﻻحظات
            input#exampleInputDiscription.form-control(type='text', placeholder='Discription')      


  script(src="/javascripts/jquery-1.11.1.min.js") 
  script(src="/javascripts/bootstrap.min.js")


