extends layout
block content
  nav.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation         
            span.icon-bar
            span.icon-bar 
            span.icon-bar
          a.navbar-brand(href='#') Stock
        #navbar.navbar-collapse.collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='#about') About
            li
              a(href='#contact') Contact
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Dropdown 
                span.caret    
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') Action        
                li
                  a(href='#') Another action
                li
                  a(href='#') Something else heree
                li.divider
                li.dropdown-header Nav header        
                li
                  a(href='#') Separated link
                li
                  a(href='#') One more separated link
  .container
    .jumbotron
    .col-md-9.col-sm-9.col-xs-9
        | إضافة مجلد
    table.table.table-condensed
      tr
          td نوع الصنف 
          td اضافة صنف جديد
          td 
          td 
      for dept in dep
        tr
          td #{dept.type}
          td   
          td
            button#view.btn.btn-primary.btn-xs(data-title='Edit', data-toggle='modal',value="#{dept.iddepartments}", data-target='#edit', data-placement='top', rel='tooltip')
              span.glyphicon.glyphicon-eye-open
          td      
            button#delete.btn.btn-danger.btn-xs(href='#del', data-toggle='modal',value="#{dept.iddepartments}")
              span.glyphicon.glyphicon-trash 
   #del.modal.fade(data-width='760',role="dialog",aria-labelledby="myModalLabel", tabindex='-1',aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-headr.modal-header-danger
          p.h1 هل أنت متأكد من  حدف ؟
        .modal-body
          p.h2 هل انت متأكد 
          p 
        .modal-footer
          button#confdelete.btn.btn-danger(type='button',data-dismiss='modal') حدف
          button.btn.btn-success(data-dismiss='modal', type='button') إلغاء 
   #add.modal.fade.bs-example-modal-sm(tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true')
    .modal-dialog.modal-sm
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#exampleModalLabel.modal-title
            | إضافة قسم
        .modal-body
          form#form(role='form', action='/department/add/', method='post')
            input(type='hidden', name='dept_id', value='')
            .form-group
              input#name.form-control.input-sm(type='text', name='name', placeholder='اسم القسم', value='')
            input.btn.btn-primary.btn-block(type='submit', value='إضـــــافة')


    // Placed at the end of the document so the pages load faster
  script(src='/javascripts/jquery-1.11.1.min.js')    
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/department.js')
