extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
      h3.text-muted.text-left 
        a(href="/")
          img(src="../images/22.png")
      a.btn.btn-primary.pull-left(type="button", href="/root") رجـــــوع
      div.panel.panel-default.form-signin 
        div.panel-heading.text-right
          h1.panel-title إضــافة طلب
        if ma
          //alert
        div.panel-body
          form#form.form-signin(role="form" , action="/order/saved" , method="post")
            div.form-group
              lable نوع السلعة 
              select.form-control(id="iditem_type",name="iditem_type" )
                option(value="-1") نوع السلعة
                  for d in ord
                    option(value="#{d.iditem_type}") #{d.type}
            div.form-group
              lable إسم السـلعة
              font(size="4", color="black" , face="cursive" )
                select.form-control#getiteme(name="getiteme" )           
            div.form-group
              lable المتــبقي
              input#reminder.form-control(name="reminder",type='text', readonly )
            div.form-group
            lable  عدد السلع
             .input-group
                span.input-group-btn
                  button.btn.btn-danger.btn-number(type='button', data-type='minus', data-field='quant[2]')
                    span.glyphicon.glyphicon-minus
                input#itemCount.form-control.input-number(type='text', name='quant[2]', value='1', min='0', max='')
                span.input-group-btn
                  button.btn.btn-success.btn-number(type='button', data-type='plus', data-field='quant[2]')
                    span.glyphicon.glyphicon-plus
            p
            div.form-group
              lable طلب القسم
              font(size="4", color="black" , face="cursive" )
                select.form-control#department(name ="department")
                  option(value="") طلب القسم
                  for empl in emp
                    option(value="#{empl.iddepartments}") #{empl.name} 

            div.form-group
            lable طلب الموظف
            p
            p
              select(name="employee",id="empl" , multiple='' style="width: 200px;")
            
            div.form-group
            lable تأكيد الطلب
              input(type='checkbox', name='confirm', value='1')
            
            

             div.form-group
             p
             lable وصــف الطلب
             p
               // validation with jade
               textarea#textarea(name='textarea' ,style='width: 400px; height:150px' ,required title="عفوا عليك تعبئة الوصف لهذا الطلب")          
            p          
              div.form-group.text-left
               button#save.btn.btn-lg.btn-primary(type="submit" , style='width: 200px;') إضافة

  script(src="/javascripts/jquery-1.11.1.min.js") 
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/jquery.validate.min.js")
  script(src="/javascripts/bootstrap-datetimepicker.fr.js")
  script(src="/javascripts/addOrder.js")

