extends layout
block content
        
  html
    body
      .jumbotron.jumbotron-sm
        .container
          .row
            .col-sm-12.col-lg-12
              h1.h1
                | تسجيل الطلبيات
              
      .container
        .row
          .col-md-8
            .well.well-sm
              form
                .row
                  .col-md-6
                    .form-group
                      .form-group
                      label(for='subject')
                        | نوع السلعة 
                      select#subject.form-control(name='item', required='required')

                      label(for='subject')
                        | اسم السلعة
                      select#subject.form-control(name='item', required='required')


                        //- option(value='na', selected='') Choose One:
                        //- option(value='service') General Customer Service
                        //- option(value='suggestions') Suggestions
                        //- option(value='product') Product Support
                      //- label(for='name')
                      //-   | Name
                      //- input#name.form-control(type='text', placeholder='Enter name', required='required')
                    //- .form-group
                    //-   label(for='email')
                    //-     | Email Address
                      .input-group
                        span.input-group-addon
                          span.glyphicon.glyphicon-envelope
                        input#email.form-control(type='email', placeholder='Enter email', required='required')
                    
                  .col-md-6
                    .form-group
                      label(for='name')
                        | Message
                      textarea#message.form-control(name='message', rows='9', cols='25', required='required', placeholder='Message')
                  .col-md-12
                    button#btnContactUs.btn.btn-primary.pull-right(type='submit')
                      | Send Message
          .col-md-4
            form
              legend
                span.glyphicon.glyphicon-globe
                |  Our office
              address
                strong Twitter, Inc.
                br
                |                 795 Folsom Ave, Suite 600
                br
                |                 San Francisco, CA 94107
                br
                abbr(title='Phone')
                  | P:
                |                 (123) 456-7890
              address
                strong Full Name
                br
                a(href='mailto:#') first.last@example.com





 

  script(src="/javascripts/jquery-1.11.1.min.js") 
  script(src="/javascripts/bootstrap.min.js")
  script(src='/javascripts/bootstrap-editable.min.js')
  script(src='/javascripts/editdepartment.js')