extends layout
block content
  div.container
    div.header
      ul.nav.nav-pills.pull-right
      h3.text-muted.text-left 
        a(href="/")
          img(src="../images/22.png")
    a.btn.btn-primary.pull-left(type="button", href="/supplier") رجـــــوع
    div.panel.panel-default.form-signin 
      div.panel-heading.text-right
        h1.panel-title اضافة مورد
      div.panel-body
        
        form#form.form-signin(role="form" , action="/supplier/addSupplier", method="post")
          div.form-group
            lable اسم المورد
            input#email.form-control.text-right(type="text",name="name", placeholder="اسم المورد",required="")
          div.form-group
            lable اسم الشركة
            input#email.form-control.text-right(type="text",name="companyName", placeholder="اسم الشركة",required="")
          div.form-group
            lable البريد الاكتروني
            input#email.form-control.text-right(dir="ltr", type="text",name="Email", placeholder="البريد الإلكتروني",required="")
          
          
          div.form-group
            lable رقم الهاتف
            input#phone.form-control.text-center(type='text', name='mobail',placeholder="رقم الهاتف" , style='width: 200px;')
          
                    
          div.form-group.text-center
           button.btn.btn-lg.btn-primary(type="submit") إضافة جديد

  script(src="/javascripts/jquery-1.11.1.min.js") 
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/jquery.validate.min.js")
  //- script(src="/javascripts/adduser.js")
  script(src="/javascripts/phone.js")

