extends layout
block content 
  


  html
  body
    #side-menu.move-me 
      hr.hr-set
      span.logo-text صفحة الإدارة    
      i.menu-close-icon.glyphicon.glyphicon-align-justify
      hr.hr-set-two
      ul
        li
          a(href='#')
            i.glyphicon.glyphicon-home
            |     الرئيسية
        li
          a(href='/department')
            i.glyphicon.glyphicon-th
            |   الأقسام
        li
          a(href='#')
            i.glyphicon.glyphicon-time
            |   المصاريف
        li
          a(href='/AddEmployee')
            i.glyphicon.glyphicon-user
            |   تسجيل موظف
        li
          a(href='#')
            i.glyphicon.glyphicon-map-marker
            |  الطلبيات
        li
          a(href='#')
            i.glyphicon.glyphicon-user
            |  المورد
      .intro-txt
        br
      
      hr
      p
        | عمل قسم تقنية المعلومات بلدية طرابلس
        p
          
          br
          a(href='http://www.binarytheme.com/', target='_blank', style='text-decoration:none;color:#000')
    // SIDE MENU SECTION END
    .container
      .row
        .col-md-4
          p.p-set
          a.thumbnail(href='')
            img(src='img/img1.png', alt='...')
          h1
            strong
              i.menu-open-icon.glyphicon.glyphicon-align-justify
        .col-md-6
          p.p-set
            strong  الرجاء النقر علي
            strong   أيقونة القائمة الجانبية لأظهار القائمة التي تساعدك في اتمام مهامك لمنظومة المخازن  
        
      
          

  script(src='/javascripts/jquery-1.11.1.min.js')    
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/adminPage.js')