extends layout
block content
  .row-md-12
    .col-md-10
      .col-md-offset-2     
        .panel.panel-warning
          // Default panel contents
          .panel-heading Panel heading

          .panel-body
            p ..
              table.table
                tbody
                  tr
                    td أسم اللجنة بلغة الأنجليزية  
                    td  f dfd
                    td أسم اللجنة بلغة الأنجليزية  
                    td  f dfd
                  //- for e in emp
                  //-   tr
                  //-     td(width='35%') أسم اللجنة بلغة الأنجليزية  
                       
                        


              
  script(src="/javascripts/jquery-1.11.1.min.js") 
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/jquery.validate.min.js")
  script(src="/javascripts/phone.js")

