doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-editable.css')
    link(rel='stylesheet', href='/stylesheets/background.css')
    link(rel='stylesheet', href='/stylesheets/navbar-fixed-top.css')
  body
    block content