extends layout
block content
  body
    .btn-group(role='group', aria-label='...')
      button#left.btn.btn-default(type='button') Left
      button#middle.btn.btn-default(type='button') Middle
      button#right.btn.btn-default(type='button') Righ






    script(src="/javascripts/jquery-1.11.1.min.js") 
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/jquery.validate.min.js")
    script(src="/javascripts/bootstrap-datetimepicker.fr.js")
    script(src="/javascripts/test.js")
