doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/background.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/jumbotron-narrow.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-rtl.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-editable.css')
    link(rel='stylesheet', href='/stylesheets/navbar-fixed-top.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/test.css')
    
    meta(chareset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="")
    meta(name="author", content="")
    link(rel="icon",href="../../../../favicon.ico")
 
    
  body.bodyPaddingTop
    nav.navbar.navbar-default.navbar-fixed-top
      .navbar-header
        ul.nav.navbar-nav.navbar-right
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span.glyphicon.glyphicon-user
              | Admin 
              b.caret
            ul.dropdown-menu(style='left: 0; left: auto;')
              li
                a(href='#')
                  span.glyphicon.glyphicon-user
                  | Profile
              li
                a(href='#')
                  span.glyphicon.glyphicon-cog
                  | Settings
              li.divider
              li
                a(href='#')
                  span.glyphicon.glyphicon-off
                  | Logout
          
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span.glyphicon.glyphicon-envelope
              | Inbox 
              span.label.label-info 32
            ul.dropdown-menu(style='right: 0; left: auto;')
              li
                a(href='#')
                  span.label.label-warning 4:00 AM
                  | Favourites Snippet
              li
                a(href='#')
                  span.label.label-warning 4:30 AM
                  | Email marketing
              li
                a(href='#')
                  span.label.label-warning 5:00 AM
                  | Subscriber focused email
                  |                             design
              li.divider
              li
                a.text-center(href='#') View All
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              span.glyphicon.glyphicon-comment
              | Chats 
              span.label.label-primary 42
            ul.dropdown-menu(style='right: 0; left: auto;')
              li
                a(href='#')
                  span.label.label-warning 7:00 AM
                  | Hi :)
              li
                a(href='#')
                  span.label.label-warning 8:00 AM
                  | How are you?
              li
                a(href='#')
                  span.label.label-warning 9:00 AM
                  | What are you doing?
              li.divider
              li
                a.text-center(href='#') View All

        ul.nav.navbar-nav
          .container
            .row
              #custom-search-input
                .input-group.col-md-10
                  input.search-query.form-control(type='text', placeholder='Search')
                  span.input-group-btn
                    button.btn.btn-danger(type='button')
                      span.glyphicon.glyphicon-search
        ul.nav.navbar-nav.navbar-left             
          .container
            .row
              .col-sm-3.col-md-3
                #accordion.panel-group
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title
                        a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                          span.glyphicon.glyphicon-folder-close
                          | Content
                    #collapseOne.panel-collapse.collapse.in
                      .panel-body
                        table.table
                          tr
                            td
                              span.glyphicon.glyphicon-pencil.text-primary
                              a(href='http://www.jquery2dotnet.com') Articles
                          tr
                            td
                              span.glyphicon.glyphicon-flash.text-success
                              a(href='http://www.jquery2dotnet.com') News
                          tr
                            td
                              span.glyphicon.glyphicon-file.text-info
                              a(href='http://www.jquery2dotnet.com') Newsletters
                          tr
                            td
                              span.glyphicon.glyphicon-comment.text-success
                              a(href='http://www.jquery2dotnet.com') Comments
                              span.badge 42
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title
                        a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                          span.glyphicon.glyphicon-th
                          | Modules
                    #collapseTwo.panel-collapse.collapse
                      .panel-body
                        table.table
                          tr
                            td
                              a(href='http://www.jquery2dotnet.com') Orders
                              span.label.label-success $ 320
                          tr
                            td
                              a(href='http://www.jquery2dotnet.com') Invoices
                          tr
                            td
                              a(href='http://www.jquery2dotnet.com') Shipments
                          tr
                            td
                              a(href='http://www.jquery2dotnet.com') Tex
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title
                        a(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                          span.glyphicon.glyphicon-user
                          | Account
                    #collapseThree.panel-collapse.collapse
                      .panel-body
                        table.table
                          tr
                            td
                              a(href='http://www.jquery2dotnet.com') Change Password
                          tr
                            td
                              a(href='http://www.jquery2dotnet.com') Notifications
                              span.label.label-info 5
                          tr
                            td
                              a(href='http://www.jquery2dotnet.com') Import/Export
                          tr
                            td
                              span.glyphicon.glyphicon-trash.text-danger
                              a.text-danger(href='http://www.jquery2dotnet.com')
                                | Delete Account
                  .panel.panel-default
                    .panel-heading
                      h4.panel-title
                        a(data-toggle='collapse', data-parent='#accordion', href='#collapseFour')
                          span.glyphicon.glyphicon-file
                          | Reports
                    #collapseFour.panel-collapse.collapse
                      .panel-body
                        table.table
                          tr
                            td
                              span.glyphicon.glyphicon-usd
                              a(href='http://www.jquery2dotnet.com') Sales
                          tr
                            td
                              span.glyphicon.glyphicon-user
                              a(href='http://www.jquery2dotnet.com') Customers
                          tr
                            td
                              span.glyphicon.glyphicon-tasks
                              a(href='http://www.jquery2dotnet.com') Products
                          tr
                            td
                              span.glyphicon.glyphicon-shopping-cart
                              a(href='http://www.jquery2dotnet.com') Shopping Cart

    .container
      nav.navbar.navbar-default(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='http://www.jquery2dotnet.com') Brand
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#')
                span.glyphicon.glyphicon-home
                | Dashboard
            li
              a(href='#')
                span.glyphicon.glyphicon-calendar
                | Calendar
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                span.glyphicon.glyphicon-list-alt
                | Widgets 
                b.caret
              ul.dropdown-menu
                li
                  a(href='http://www.jquery2dotnet.com') Action
                li
                  a(href='http://www.jquery2dotnet.com') Another action
                li
                  a(href='#') Something else here
                li.divider
                li
                  a(href='#') Separated link
                li.divider
                li
                  a(href='#') One more separated link
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                span.glyphicon.glyphicon-search
                | Search 
                b.caret
              ul.dropdown-menu(style='min-width: 300px;')
                li
                  .row
                    .col-md-12
                      form.navbar-form.navbar-left(role='search')
                        .input-group
                          input.form-control(type='text', placeholder='Search')
                          span.input-group-btn
                            button.btn.btn-primary(type='button')
                              | Go!
          
        // /.navbar-collapse
                
  
  block content
      

  script(src='/javascripts/jquery-1.11.1.min.js')    
  script(src='/javascripts/bootstrap.min.js')
  