.bodyPaddingTop {
    padding-top: 113px;
}

.bodyPaddingSmall {
    padding-top: 4px;
}

.center{
width: 150px;
  margin: 40px auto;
  
}

body {
    font-family: 'Arimo', sans-serif;
    padding-top: 50px;
}

.menu-bar {
    position: absolute;
    top: 20px;    
    left: 50%;
    height: 14px;
    margin-left: -10px;
}

.bars {
    display: block;
    width: 20px;
    height: 3px;    
    background-color: #333;
    box-shadow: 0 5px 0 #333, 0 10px 0 #333;
}

.menu {
    display: none; 
    width: 100%;
    padding: 30px 10px 50px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
}
.menu ul {
    margin-bottom: 0;
}
.menu a {
    color: #333; 
    text-transform: uppercase;
    opacity: 0.8;
}
.menu a:hover {
    text-decoration: none;
    opacity: 1;
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#FFFFFF;

}
.submit-button {
  margin-top: 10px;
}



.p-set
{
    padding-top:120px;
     line-height:30px;
     color:#000000;
     font-size:25px;
     font-style: bold;
     font-family: Times;


}
.hr-set {
    border-top:1px solid rgba(0, 0, 0, 0)!important;
    margin-bottom:20px;
}
.hr-set-two {
    border-top:1px solid rgba(0, 0, 0, 0.05)!important;
    margin-bottom:5px;
}
/* =============================================================
   SIDE MENU STYLES
 ============================================================ */

#side-menu {
    height:100%;
    position:fixed;
    top:-1000px;
    left:-250px;
    background-color:#e8a844;
    color:#FFFFFF;
    z-index:999;
    overflow:auto;
    max-width:500px;
     font-size:28px;
  font-style: bold;
     font-family: Arial;

}
 #side-menu ul {
        list-style:none;
        padding:0px;

    }

        #side-menu ul li {
          border-bottom:1px solid rgba(95, 87, 88, 0.2);
padding: 20px 25px;
display:inline-block;
        }
         #side-menu ul li a i {
             padding-right:10px;
        }

            #side-menu ul li a,#side-menu ul li a:hover {
                color:#fff;
                text-decoration:none;
 font-size:22px;
  font-style: bold;
     font-family: Arial;
            }
  
.logo-text {
    padding: 20px 30px;
cursor: pointer;
font-size:30px;
font-weight:900;

}
.menu-close-icon {
    padding:0px 10px;
    cursor: pointer;
    color:#FFFFFF;
    font-size:25px;
  
}
.menu-open-icon {
    cursor:pointer;
    color:#e8a844;
    padding:20px 30px;
     padding:20px 25px;
     position:fixed;
}
.intro-txt {
    padding:20px;
}
.popover {
top: 67px;
left: 560px;
display: block;
right: auto;
}


span.arrow {
    margin-left: 6px;
    height:17px;
    background: url('http://i45.tinypic.com/f9ifz6.png') no-repeat left center;
}
label.error {
    height:17px;
    border-top:1px solid #99182c;
    border-right:1px solid #99182c;
    border-bottom:1px solid #99182c;
    margin-left:9px;
    padding:1px 5px 0px 5px;
    font-size:small;
}

div.error {
        position:absolute;
        margin-top:-21px;
     margin-left:150px;
     border:2px solid #C0C097;
        background-color:#fff;
        color:white;
        padding:3px;
        text-align:left;
        z-index:1;
        color:#333333;
     font:100% arial,helvetica,clean,sans-serif;
     font-size:15px;
     font-weight:bold;  
    }


body {
    font-family: 'Arimo', sans-serif;
    padding-top: 50px;
}

.menu-bar {
    position: absolute;
    top: 20px;    
    left: 50%;
    height: 14px;
    margin-left: -10px;
}

.bars {
    display: block;
    width: 20px;
    height: 3px;    
    background-color: #333;
    box-shadow: 0 5px 0 #333, 0 10px 0 #333;
}

.menu {
    display: none; 
    width: 100%;
    padding: 30px 10px 50px;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
}
.menu ul {
    margin-bottom: 0;
}
.menu a {
    color: #333; 
    text-transform: uppercase;
    opacity: 0.8;
}
.menu a:hover {
    text-decoration: none;
    opacity: 1;
}