body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#FFFFFF;
   
}

a {
  color: #00FFFF;
}

.p-set
{
    padding-top:120px;
     line-height:30px;
     color:#000000;
     font-size:25px;
     font-style: bold;
     font-family: Times;


}
.hr-set {
    border-top:1px solid rgba(0, 0, 0, 0)!important;
    margin-bottom:20px;
}
.hr-set-two {
    border-top:1px solid rgba(0, 0, 0, 0.05)!important;
    margin-bottom:5px;
}
/* =============================================================
   SIDE MENU STYLES
 ============================================================ */

#side-menu {
    height:100%;
    position:fixed;
    top:-1000px;
    left:-250px;
    background-color:#e8a844;
    color:#FFFFFF;
    z-index:999;
    overflow:auto;
    max-width:500px;
     font-size:28px;
  font-style: bold;
     font-family: Arial;

}
 #side-menu ul {
        list-style:none;
        padding:0px;

    }

        #side-menu ul li {
          border-bottom:1px solid rgba(95, 87, 88, 0.2);
padding: 20px 25px;
display:inline-block;
        }
         #side-menu ul li a i {
             padding-right:10px;
        }

            #side-menu ul li a,#side-menu ul li a:hover {
                color:#fff;
                text-decoration:none;
 font-size:22px;
  font-style: bold;
     font-family: Arial;
            }
  
.logo-text {
    padding: 20px 30px;
cursor: pointer;
font-size:30px;
font-weight:900;

}
.menu-close-icon {
    padding:0px 10px;
    cursor: pointer;
    color:#FFFFFF;
    font-size:25px;
  
}
.menu-open-icon {
    cursor:pointer;
    color:#e8a844;
    padding:20px 30px;
     padding:20px 25px;
     position:fixed;
}
.intro-txt {
    padding:20px;
}